body{
color:rgb(228, 15, 199);
 background-color:black;
}

ul{
 display: flex;
 justify-content:space-between;
 list-style-type: none;

}
a{
color:white;
text-decoration: none;
}

img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(233, 10, 140)
}